@mixin flex(
    $align-items: flex-start,
    $justify-content: flex-start,
    $gap: unset,
    $flex-direction: row,
    $flex-wrap: nowrap,
) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
    gap: $gap;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
}

@mixin font(
    $font-size: 1.6rem,
    $color: inherit,
    $font-weight: inherit,
    $text-decoration: inherit,
    $font-family: inherit,
) {
    font-size: $font-size;
    color: $color;
    font-weight: $font-weight;
    font-family: $font-family;
    text-decoration: $text-decoration;
}

@mixin indent(
    $padding: 0,
    $margin: 0,
) {
    padding: $padding;
    margin: $margin;
}

@mixin border(
    $border: 0 solid transparent,
    $border-radius: 0
) {
    border: $border;
    border-radius: $border-radius;
}

