$blue950: #001333;
$blue900: #00163d;
$blue800: #002666;
$blue700: #003999;
$blue600: #004ccc;
$blue500: #005fff;
$blue400: #337eff;
$blue300: #669fff;
$blue200: #ccdfff;
$blue100: #e0f0ff;
$blue50: #ebf5ff;

$red950: #1f0002;
$red900: #330003;
$red800: #660006;
$red700: #990008;
$red600: #cc000b;
$red500: #ff000e;
$red400: #ff3742;
$red300: #ff666e;
$red200: #ff999f;
$red100: #ffe5e7;
$red50: #fff5f5;

$green950: #041b0d;
$green900: #062d16;
$green800: #0d592c;
$green700: #138643;
$green600: #19b359;
$green500: #20e070;
$green400: #4ce68c;
$green300: #79eca9;
$green200: #a6f2c6;
$green100: #e9f1ff;
$green50: #f6fef9;

$yellow950: #1d1a11;
$yellow900: #332500;
$yellow800: #664900;
$yellow700: #996e00;
$yellow600: #cc9200;
$yellow500: #ffb700;
$yellow400: #ffd366;
$yellow300: #ffe299;
$yellow200: #fff1cc;
$yellow100: #fff8e5;
$yellow50: #fffcf5;

$grey950: #080707;
$grey900: #17191c;
$grey800: #1c1e22;
$grey700: #272a30;
$grey600: #4c525c;
$grey500: #747881;
$grey400: #b4b7bb;
$grey300: #dbdde1;
$grey200: #e9eaed;
$grey100: #f4f4f5;
$grey50: #ffffff;

$accent-primary: $blue500;
$accent-primary-pressed: $blue600;
$accent-error: $red400;
$accent-info: $green500;

$background-blur: 10pt;

$transition-slow: .5s;
$transition-mid-slow: .4s;
$transition-normal: .3s;
$transition-mid-fast: .2s;
$transition-fast: .1s;

html[theme="light"] {
    --text-high-emphasis: #{$grey950};
    --text-low-emphasis: #{$grey500};
    --disabled: #{$grey400};
    --borders: #{$grey300};
    --input-bg: #{$grey200};
    --reaction-bg-user: #{$grey100};
    --app-bg: #{$grey50};
    --bars-bg: #{$grey50};
    --reaction-bg-you: #{$blue50};
    --link-bg: #{$grey100};
    --button-pressed-bg: #{$blue300};

    --highlight: #{$yellow100};
    --overlay-light: #fcfcfc;
    --overlay-dark: #ffffff;
    --overlay: #000000;
    --overlay-android: #bebebe;
}

html[theme="dark"] {
    --text-high-emphasis: #{$grey50};
    --text-low-emphasis: #{$grey500};
    --disabled: #{$grey600};
    --borders: #{$grey700};
    --input-bg: #{$grey800};
    --reaction-bg-user: #{$grey900};
    --app-bg: #{$grey950};
    --bars-bg: #{$grey900};
    --reaction-bg-you: #{$blue900};
    --link-bg: #{$blue950};
    --button-pressed-bg: #{$blue700};

    --highlight: #{$yellow900};
    --overlay-light: #000000;
    --overlay-dark: #ffffff;
    --overlay: #000000;
    --overlay-android: #0a0a0a;
}